@model IEnumerable<FileConversionCommon.File>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.filename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.convertedFilename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.convertedFilelURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.destinationEmail)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.filename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.convertedFilename)
                <div id="actions" class="progress">
                    <p>
                        <span class="text-success">0% Complete</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar">
                            </div>
                        </div>
                    </p>
                </div>
            </td>
            <td>
                @*Download shows when queue processes msg else it will return an empty file*@
                @if (item.convertedFilename != null)
                {
                    @Html.ActionLink("Download", "Download", new { id = item.fileId })
                }
               
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.destinationEmail)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.fileId }) |
                @Html.ActionLink("Details", "Details", new { id = item.fileId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.fileId })
            </td>
        </tr>

    
    }

</table>

<div id="actions">
    <p>
        <span class="text-success">0% Complete</span>
        <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar">
            </div>
        </div>
    </p>
</div>
@section Scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/js"></script>
    <script>
        $(function () {
            var hub = $.connection.progressHub,
                $progressBar = $("#actions .progress-bar");
            $.connection.hub.start().done(function () {
                //hub.server.doLongRunningThing()
                hub.server.doLongRunningThing()
                    .progress(function (percent) {
                        $progressBar.width(percent + "%");
                        $("#actions .text-success").text(percent + "% Complete");
                    })
                    .done(function (result) {
                        setTimeout(function () {
                            $progressBar
                                .removeClass("progress-bar-info")
                                .addClass("progress-bar-success");
                            $("#actions .text-success").text(result);
                        }, 500);
                    });

            });
        });
    </script>
}